.container {
    width: 60%;
    background-color: lightgray;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.container h2 {
    font-size: 30px;
}

.intro {
    font-size: 25px;
}

.btn_start {
    font-size: 28px;
    border-radius: 18px;
}