.container {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 2px;
    text-align: center;
    align-items: center;
    font-family: 'Koulen';
}

.screen {
    min-width: 100%;
    min-height: 100%;
    background-image: url('../../imgs/background_img.jpg');
    position: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.container h2 {
    font-size: 30px;
}

.start {
    margin-top: 150px;
}

.questions {
    margin-top: 85px;
}

.results {
    margin-top: 70px;
}

.intro {
    font-size: 25px;
}

.btn_start, .btn_Answer, .btn_playAgain {
    font-size: 28px;
    border-radius: 24px;
    margin: 20px;
    padding: 5px;
    border: 1px solid #840463;
    background-color: #840463;
}

.btn_start:hover, .btn_Answer:hover, .btn_playAgain:hover {
    background-color: #af05b4;
    border: 1px solid #af05b4;
}

.btn_Answer {
    width: 100px;
}

.btn_playAgain {
    width: 160px;
}

.btn_start {
    width: 100px;
}

.details_quest {
    margin-top: -50px;
    width: 60%;
    margin: auto;
    padding: 0px;
    text-align: center;
    font-size: 25px;
    font-family: 'Koulen';
    // font-weight: 100;
}

.score {
    font-size: 23px;
}

.info {
    margin-top: 10px;
    width: 50%;
    margin: auto;
    padding: 5px;
    text-align: center;
    font-size: 25px;
    margin-top: -30px;
}

// .ans_numb {
//     display: flex;
//     justify-content: space-between;
// }

.ans_chosen {
    width: 30%;
    text-align: center;
    font-size: 25px;
    margin: auto;
    margin-top: -40px;
}

// .timer {
//     margin-top: 50px;
//     margin-left: 50px;
// }